@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

.geral {
  width: 80%;
  margin: 0 auto;
  border: solid 1px gray;
  box-shadow: 10px 5px gray;
}

.topo {
  width: 100%;
  height: 350px;
  background-image: url("../img/topo2.jpg");
}

.menucss {
  width: 100%;
  height: 45px;
  background-color: blue;
}

.menucss ul {
  text-align: center;
}

.menucss ul li {
  list-style-type: none;
  display: inline-block;
  padding: 13.5px 50px;
}

.menucss ul li a {
  color: white;
  text-decoration: none;
}

.menucss ul li:hover{
  background-color: red;
  transition: 0.5s;
}

.conteudo {
  width: 100%;
  height: 300px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color:  blue;
}

.divimagem {
  width: 35%;
  height: 200px;
  float: left;
  background-image: url("../img/foto2.jpg");
  background-position: center;
}

 .divlista {
  width: 65%;
  height: 200px;
  float: left;
}

.divlista ul {
  padding-top: 50px;
  padding-left: 20px;
}

.divlista ul li {
  padding-bottom: 10px;
  padding-left: 20px;
}

.formulario {
  width: 80%;
  margin: 0 auto;
}

.fiel1 , .fiel2, .fiel3 {
  border-radius: 10px;
  box-shadow: 5px 2px gray;
  padding: 10px 10px 20px 10px;
}

.fiel3 {
  margin-bottom: 10px;
}

label {
  font-weight: bolder;
  padding-right: 5px;
}

input[type=text], [type=number], [type=date], [name=estado] {
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #DCDCDC;
  border-radius: 7px;
  box-sizing: border-box;
  box-shadow: 2px 1px gray;
}

input[name=nome] {
  width: 40%;
  margin-right: 2%;
}

input[name=datanascimento] {
  margin-right: 5%;
}

input[name=endereco] {
  width: 40%;
  margin-right: 2%;
}

input[name=numero] {
  width: 20%;
  margin-right: 20%;
}

input[name=cidade] {
  width: 40%;
}

label[for=estado] {
  padding-left: 1%;
}

select[name=estado] {
  margin-right: 15%;
}

input[type=radio] {
  margin-right: 20px;
  margin-bottom: 10px;
}


.rodape {
  width: 100%;
  height: 40px;
  float: left;
}
